body {
    margin: 0;
    font-family: 'Arial', sans-serif; /* Optional: Set a custom font-family */
}

nav {
    background-color: #333;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section {
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden; /* Ensure that the section contains floated elements */
}

.section-title {
    background-color: #666;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
}

.box {
    border: 1px solid #ddd;
    padding: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Hover effect for boxes */
.box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Queries for Tablet and Mobile Views */
@media only screen and (max-width: 991px) {
    .desktop {
        width: 48%;
        float: left;
    }
}

@media only screen and (max-width: 767px) {
    .desktop {
        width: 100%;
        float: none;
    }
}
